<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
</head>
<body>
<h1 id="about" class="">About Me</h1>

<p>Hello, I'm a developer who loves to create new things and tackle challenging problems with
    intelligent concepts.</p>

<div class="left">
    <h2>EXPERIENCE</h2>

    <p>2015-Present</p>

    <p>Systems Engineer</p>

    <p>2014-2015</p>

    <p>Developer</p>
</div>

<div class="right">
    <h2>EDUCATION</h2>

    <p>2011-2014</p>

    <p>Master of Engineering</p>

    <p>2007-2011</p>

    <p>Bachelor of Engineering</p>

    <h2>SKILLS</h2>

    <p>Linux</p>

    <p>Python</p>

    <p>Java</p>

    <p>Photoshop</p>

    <h2>CONTACT</h2>

    <p>If you want to find me, please check following:</p>

    <a class="github-button" href="https://github.com/BoxingP" data-style="mega" data-count-href="/BoxingP/followers"
       data-count-api="/users/BoxingP#followers" data-count-aria-label="# followers on GitHub"
       aria-label="Follow @BoxingP on GitHub">Follow @BoxingP</a>
</div>

<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
</body>
</html>